.form-control {
    background-color: var(--light-green-color);
}

.form-control:focus {
    border: 3px solid var(--light-green-color);
    border-color: var(--light-green-color);
    box-shadow: 0px 0px 4px 4px var(--light-green-color);
}

input[type=checkbox] {
    cursor: pointer;
}

.form-check-input:checked {
    background-color: var(--dark-orange-color) !important;
    border: 0;
}

.form-check-input:focus,
.label::after,
label.form-check-label:focus,
.form-check-input::after,
.form-check-input:not(:disabled):not(.disabled):active:focus {
    color: black;
    outline: 0;
    border: 0;
    box-shadow: 0 0 0 0.1rem var(--dark-orange-color) !important;
}

.form-select {
    background-color: var(--light-green-color);
}

.form-select:focus, .multiselect.is-active {
    border: 3px solid var(--light-green-color);
    border-color: var(--light-green-color);
    box-shadow: 0px 0px 4px 4px var(--light-green-color);
}

.input {
    background-color: var(--light-orange-color);
}

.required:after {
    content: " *";
    color: var(--dark-orange-color);
}

.multiselect-wrapper, .multiselect-tags-search {
    background-color: var(--light-green-color) !important;
}

/* .multiselect-caret {
    
} */

.multiselect-tag {
    background-color: var(--dark-orange-color);
}

.image-update {
    max-width: 100%;
    height: 200px
}