body {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    font-family: 'Nunito', sans-serif;
}

html {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Marhey', sans-serif;
}

h1 {
    color: var(--dark-orange-color);
    font-size: 4rem;
}

footer {
    background-color: var(--light-green-color);
}

a {
    color: var(--dark-green-color);
    text-decoration: none;
}

/********* Navbar **********/
header {
    background-color: var(--light-green-color) !important;
    font-size: 1.2rem;
    font-weight: bold;
}

 .nav-link {
    color: var(--dark-green-color);
  }
 .nav-link:hover {
    color: var(--dark-orange-color) !important;
    
  }

.navbar a {
    color: var(--dark-green-color);
}

.btn {
    border-radius: 0.8rem;
}

.btn-primary, .btn.active, 
.btn.active:hover, .btn.active:focus, .btn.active:active  {
    background-color: var(--dark-orange-color);
    border-color: var(--dark-orange-color);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus{
    background-color: var(--light-orange-color) ;
    border-color: var(--light-orange-color) ;
    color: var(--dark-green-color) ;
}

.btn-outline-primary {
    border-color: var(--dark-green-color) ;
    color: var(--dark-green-color) ;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
    border-color: var(--dark-green-color) ;
    background-color: var(--dark-green-color) ;
}

/********** Home page **********/
.home-page-img {
    background-image: url('../images/books-home-page.jpg');
    height: 490px;
}

.home-page h3 {
    color: var(--dark-green-color);
}

.card {
    color: var(--dark-green-color);
    background-color: var(--main-bg-color);
}

/******* Book details page *******/
.book-details-container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

h3 {
    color: var(--dark-green-color);
    font-size: 40px;
}

.author {
    color: var(--dark-green-color);
    font-size: 25px;
}

.book-info {
    background-color: var(--light-green-color);
    border-radius: 10px;
    /* position: relative; */
}

.book-owner {
    background-color: var(--light-orange-color);
    border-radius: 10px;
}

.avatar {
    height: auto;
    width: 80px;
    border-radius: 50%;
}

.book-image img {
    border-radius: 10px;
}

.img-like {
    font-size: 1.5rem;
    color: var(black);
}

/* .book-owner .btn {
    background-color: var(--light-orange-color);
    border: var(--light-orange-color);
} */

.bi-envelope,
.bi-handbag {
    font-size: 2.5rem;
    color: var(black);
}

.required::after {
    content: ' *';
    color: red;
}

.logout {
    color: var(--dark-green-color);
}
.logout:hover {
    color: var(--dark-orange-color);
}


.bi-pencil-square {
    color: var(--dark-green-color)!important;
}

.category-badge {
    color: var(--main-bg-color)!important;
    background-color: var(--dark-orange-color)!important;
}
  
.bg-danger {
    background-color: #CD5C5C !important;
}


.img-book-user {
    height: 150px;
}



/******* Cart sidebar *****/
.cart-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    background-color: #fff;
    box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: transform 0.3s ease;
    transform: translateX(100%);
}

.cart-sidebar.show {
    transform: translateX(0);
}