:root {
    --main-bg-color: #FEFCFE;
    --main-text-color: #1E1D1E;
    --dark-green-color: #456e66;
    --dark-orange-color: #ffb324;
    --light-green-color: #f1f9f9;
    --light-orange-color: #fbda91;
}